* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

img {
  width: 595px;
  height: 500px;
  margin-right: 85px;
}

header {
  margin: 42px 47px;
}

.link-header {
  margin-right: 32px;
  font-size: 14px;
  line-height: 21px;
}

.button-header {
  width: 124px;
  height: 51px;
  background: #6FBF44;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #4CB538;
  border-radius: 12px;
  cursor: pointer;
}

main {
  margin-left: 120px;
  margin-top: 160px;
  display: flex;
}

h1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 82px;
  width: 580px;
  color: #161A49;
}

p {
  width: 495px;
  font-size: 18px;
  line-height: 33px;
  color: #4B505A;
  margin: 47px 0 55px 0;
}

.link-main {
  font-size: 18px;
  line-height: 27px;
  color: #6FBF44;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: flex-end;
    margin: 16px;
  }

  .link-header {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 0 44px;
  }

  img {
    max-width: 100%;
    margin: 0;
    background-size: f;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
  }

  p {
    width: 304px;
    text-align: center;
  }

}